#EvaluateAdd {margin-top:15px;background-color:#DDCC55;}
#EvaluateAdd ul{list-style:none;}
	 
#EvaluateAdd ul li{float:left; width:800px;}

#star{float:left; width:200px;}
#evaluatelabel{float:left; width:50px;}

#new-evaluation-form{width:600px;}

#EvaluateNotice{margin-bottom: 5px; margin-top:15px;padding-bottom: 5px; border-bottom:1px dotted #BBBBBB;}

.EvaluateNotice{margin-bottom: 5px; margin-top:15px;padding-bottom: 5px; border-bottom:1px dotted #BBBBBB;}

#EvaluateOptionsIndex {width:300px;border:1px dotted #BBBBBB;border-right:0px;}
#EvaluateOptionsIndex th{width:30%;border-right:1px dotted #BBBBBB;}
#EvaluateOptionsIndex td{width:30%; text-align: center;border-top:1px dotted #BBBBBB;border-right:1px dotted #BBBBBB;}

#EvaluateOptionsNew {width:300px;}
#EvaluateOptionsNew td{width:30%; text-align: center;}

#NewIssueEvaluate{float:left;width:100%;position:relative;}
#NewIssueEvaluateOptions{float:left;width:100%;position:relative;}

#EditIssueEvaluate{float:right;position:relative;}

.EditIssueEvaluateForm ul{list-style:none;}
.EditIssueEvaluateForm ul li{float:left; width:100%;position:relative;}
.EditIssueEvaluateForm{padding-bottom:90px;} 


#personscoreindex table {
		overflow:hidden;
		border:1px solid #d3d3d3;
		background:#fefefe;
		width:40%;
		-moz-border-radius:5px; 
		-webkit-border-radius:5px; 
		border-radius:5px;
		-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	}
	
#personscoreindex table th, td {padding:10px 28px 10px; text-align:center; }
	
#personscoreindex table	th {padding-top:5px; text-shadow: 1px 1px 1px #fff; background:#e8eaeb;}
	
#personscoreindex table tr td {border-top:1px solid #e0e0e0; border-right:1px solid #e0e0e0;}
	
#personscoreindex table	tr.odd-row td {background:#f6f6f6;}




