<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @evaluate_option.name %>
</p>


<%= link_to 'Edit', edit_evaluate_option_path(@evaluate_option) %> |
<%= link_to 'Back', evaluate_options_path %>
