<h2>人员评分表</h2>

<%= stylesheet_link_tag "stylesheet.css" , :plugin => 'issue_evaluate'%>

<div id="personscoreindex">
	<table>
		<tr>
			<th>工作人员</th>
			<th>任务表现</th>
			<th>相关任务链接</th>
		</tr>
		
		<tr>
			<td>
				1111
			</td>
			<td>
				2222222
			</td>
			<td>
				33333
			</td>
	    </tr>
		
	</table>
</div>
